<h1>Add a new artist</h1>

<form action="/artists" method="post">
  <div class="form-group">
    <label for="artist_name">Artist name</label>
    <input id="a" name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add artist</button>
  <img class="page-image" src="/images/new_artist.jpeg" alt="">
  </form>
<br>
  <p><strong>My Way - <a href="https://en.wikipedia.org/wiki/Frank_Sinatra" target="_blank">Frank Sinatra</a></strong></p>
  <p>And now, the end is near
    And so I face the final curtain
    My friend, I'll say it clear
    I'll state my case, of which I'm certain
    I've lived a life that's full
    I've traveled each and every highway
    But more, much more than this
    I did it my way
    Regrets, I've had a few
    But then again, too few to mention
    I did what I had to do
    And saw it through without exemption
    I planned each charted course
    Each careful step along the byway
    And more, much more than this
    I did it my way
    Yes, there were times, I'm sure you knew
    When I bit off more than I could chew
    But through it all, when there was doubt
    I ate it up and spit it out
    I faced it all and I stood tall
    And did it my way
    I've loved, I've laughed and cried
    I've had my fill my share of losing
    And now,…</p>
